//TIPOGRAFIA
$fuentePrincipal:'Inter', sans-serif;
//COLORES
$negro: #181818;
$azul: #00A3FF;
$blanco: #FFFFFF;
$rojo: #FF0000;
$verde: #23B100;

//DIMENSIONES
$telefono: 600px;
$tablet: 900px;
$desktop: 1200px;
$desktopXL: 1500px;
