//TIPOGRAFIA
$fuentePrincipal:'Inter', sans-serif;
//COLORES
$negro: #181818;
$blanco: #FFFFFF;
$gris: #f8fafc;
$grisO: #cac9c9;
$rojo: #FF0000;
$verde: #6ab646;

//DIMENSIONES
$telefono: 600px;
$tablet: 900px;
$desktop: 1200px;
$desktopXL: 1500px;
