#agregar_soli {
  .radio_buttons {
    margin-bottom: 2%;
  }

  .radios {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    gap: 3%;
  }
}

.calendario {
  margin: 0 5% !important;
}
