@use "../base/variables" as v;
@use "base/mixins" as m;

.delete_maq {
  background-color: v.$rojo !important;
  color: v.$blanco !important;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

#agregar_maqn {
  margin: 0 5%;

  .flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 2%;
    justify-content: center;
  }
  .flex_img {
    grid-template-columns: 15% 85% !important;
    input {
      margin-left: 2%;
    }
  }
  .flex_files {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    input {
      margin: 1%;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 3%;
    justify-content: center;
  }
  input {
    width: 100%;
  }
  .input {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-right: 0;
  }
  p {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 1%;
  }

  #p_issue {
    margin: 5% 0 3% 0;
  }

  .input_radio {
    display: flex;
    flex-direction: column;
  }

  .radios {
    display: flex;
    margin-top: 5%;
  }
}

.input_file {
  background-color: v.$verde;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.input_file input {
  border: 10000px solid transparent;
  cursor: pointer;
  font-size: 10000px;
  margin: 0;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  right: -1000px;
  top: -1000px;
}

#agregar_orden {
  margin: 0 5%;

  .flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 2%;
    justify-content: center;
  }
  .flex_img {
    grid-template-columns: 15% 85% !important;
    input {
      margin-left: 2%;
    }
  }
  .flex_files {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    input {
      margin: 1%;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 3%;
    justify-content: center;
  }
  input {
    width: 100%;
  }
  .input {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-right: 0;
  }
  p {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 1%;
  }

  #p_issue {
    margin: 5% 0 3% 0;
  }

  .input_radio {
    display: flex;
    flex-direction: column;
  }

  .radios {
    display: flex;
    margin-top: 5%;
  }
}

.input_file {
  background-color: v.$verde;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.input_file input {
  border: 10000px solid transparent;
  cursor: pointer;
  font-size: 10000px;
  margin: 0;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  right: -1000px;
  top: -1000px;
}
